<html>
    <head>
        <title>My Face 2.0</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/index.css" type="text/css">
        <style type="">
     

        </style>
    </head>
    <body>
    <script> 
  
    </script>
    <style>
        body{
            padding-top:30px;

        }

        .glyphicon { 
         margin-bottom: 10px;margin-right: 10px;
        }

     
        small {
        display: block;
        line-height: 1.428571429;
        color: #999;
        }
    </style>
    { % insert "navbar.html" % }

                         <!----------------- profile -------------------------->
            <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/250x250" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Bhaumik Patel</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                  <!-- BIO    -->
            <div class="container bootstrap snippet">

                            <div class="row">
                                 
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                        
                </div>
            </div>                                                            
                
  <!--  button -->

    <div class='row'>
        <!--  <div class='col-md-1'>
        </div> -->
         <div class='col-md-3 text-center'>
          <br>
          <button class='btn' data-toggle="modal" data-target="#myModal">Chat</button>
         </div>

          <div class=' col-md-3 text-center'>
          <br>
          <button class='btn' data-toggle="modal" data-target="#myModal">Hire</button>
         </div>

          <div class='col-md-3 text-center'>
          <br>
          <button class='btn' data-toggle="modal" data-target="#myModal"> Reviews</button>
         </div>
         <div class='col-md-3'>
        </div>
   </div>

          

          
 
 
    </body>
</html>


